.menu {
  background-color: #fff;
  background-image: url(../images/images/background_menu.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu__title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 24px;
}

.menu__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
  margin: 0 0 100px;
  text-align: center;
}

.menu__cards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}
